<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="blockQuestionDao" class="dao.CsvBlockQuestionDaoImpl">
        <constructor-arg name="resource" value="blockQuestions.csv" type="org.springframework.core.io.Resource"/>
    </bean>
    <bean id="ioService" class="service.ConsoleIOService" />
    <bean id="startApp" class="service.StartAppImpl">
        <constructor-arg name="blockQuestionDao" ref="blockQuestionDao"/>
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>
</beans>